.skills {
  background: var(--color-bg1);
}

.skills .progress .skill {
  padding: 0.6rem 0;
  margin: 0 0 0.1rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  color: var(--color-white);
}

.skills .progress-bar {
  height: 10px;
  transition: 0.9s;
  background: var(--color-primary);
}

.progress-bar {
  justify-content: center;
  overflow: hidden;
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
}

.skills__container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2rem;
}

.certification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 1em; */
  margin-top: 3em;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.certification img {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .certification img {
    width: 80%;
  }
}
